In [3]:
import pyodbc
import pandas as pd

In [4]:
pyodbc.drivers()

['SQL Server',
 'ODBC Driver 17 for SQL Server',
 'SQL Server Native Client RDA 11.0']

In [8]:
conn = pyodbc.connect(
    Trusted_Connection = "Yes",
    Driver = '{ODBC Driver 17 for SQL Server}',
    Server = "DESKTOP-D9QH4PH",
    Database = "HINDALCO"
)
cursor = conn.cursor()

In [10]:
df = pd.read_excel(r'C:\Users\DELL\Downloads\HINDALCO_1D.xlsx')

In [11]:
df.head()

    datetime   close    high     low    open   volume instrument
0 2014-01-24  114.00  115.35  113.00  113.15  5737135   HINDALCO
1 2014-01-27  111.10  112.70  109.30  112.00  8724577   HINDALCO
2 2014-01-28  113.80  115.00  109.75  110.00  4513345   HINDALCO
3 2014-01-29  111.75  114.75  111.15  114.50  4713458   HINDALCO
4 2014-01-30  108.10  110.70  107.60  110.20  5077231   HINDALCO

In [13]:
df.columns

Index(['datetime', 'close', 'high', 'low', 'open', 'volume', 'instrument'], dtype='object')

In [17]:
cursor.execute("""
    CREATE TABLE stock_data (
        [datetime] DATETIME,
        [close] DECIMAL(10,2),
        [high] DECIMAL(10,2),
        [low] DECIMAL(10,2),
        [open] DECIMAL(10,2),
        [volume] INT,
        [instrument] VARCHAR(50)
    )
""")

In [22]:
for row in df.itertuples(index=False):
    cursor.execute("""
                INSERT INTO HINDALCO.dbo.stock_data (datetime, [close], high, low, [open], volume, instrument)
                VALUES(?,?,?,?,?,?,?)""",
                (row.datetime,
                row.close,
                row.high,
                row.low,
                row.open,
                row.volume,
                row.instrument,
                )
            )
conn.commit()

In [23]:
conn.close()